@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* 
Josh comeau css reset combined with  
http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
    text-decoration: none;
}

/* Global Styles */
/* Variables */
:root {
    --grey-900: #141414;
    --grey-800: #1F1F1F;
    --grey-700: #333333;
    --black: #000;
    --white: #fff;
    --green: #C4F82A;
    --spacing-50: 4px;
    --spacing-100: 8px;
    --spacing-150: 12px;
    --spacing-200: 16px;
    --spacing-300: 24px;
    --spacing-500: 40px;
    --text-preset-1: 700 24px "Inter", sans-serif;
    --text-preset-2: 400 14px "Inter", sans-serif;
    --text-preset-3: 600 14px "Inter", sans-serif;
}

body {
    /* 4. Add accessible line-height */
    line-height: 1.5;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    background: var(--grey-900);
    min-height: 100vh;
}

    body, a {
        color: var(--white);
    }

.text-1 {
    font: var(--text-preset-1);
}

    .text-2 {
        font: var(--text-preset-2);
    }

        .text-3 {
            font: var(--text-preset-3);
        }

/* Flexbox */
.flex {
    display: flex;
}

    .flex-col {
        flex-direction: column;
        gap: var(--spacing-300);
    }

.flex-center {
    justify-content: center;
    align-items: center;
}

    .justify-evenly {
        justify-content: space-evenly;
    }

/* Container */
.container {
    background: var(--grey-800);
    padding: var(--spacing-500);
    border-radius: var(--spacing-150);
}

/* Header styles */
.headshot {
    width: 100px;
    border-radius: 50%;
}

.info {
    gap: var(--spacing-50);
}

    .green-text {
        color: var(--green);
    }

/* Main styles */
.links {
    gap: var(--spacing-200);
    margin-top: var(--spacing-300);
}

.button {
    border-radius: var(--spacing-100);
    padding: var(--spacing-150);
    background: var(--grey-700);
    display: block;
    text-align: center;
}

    .button:hover {
        background: var(--green);
        cursor: pointer;
        color: var(--black);
    }

        .button:focus {
            outline: 2px solid var(--green);
        }

/* Attribution Styles */
.attribution {
      font-size: 11px;
      text-align: center;
    }

    .attribution a {
      color: var(--green);
    }

        .attribution a:hover {
            text-decoration: underline;
        }